/*!
Theme Name: TheBirdTheBear2018
Theme URI: http://underscores.me/
Author: William Bay
Author URI: http://flauntyoursite.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: thebirdthebear2018
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TheBirdTheBear2018 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul,
      .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Media Query | Breakpoints
--------------------------------------------------------------*/
/*--------------------
BASE (MOBILE) SIZE
--------------------*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
HEADER STYLES
*********************/
/*********************
STRUCTURE STYLES
*********************/
.content-area {
  width: 95%;
  margin: 0 auto; }

/*********************
ARCHIVE STYLES
*********************/
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
  margin: 1.5em 0; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 5px;
    margin: 0; }
  .pagination li {
    background-color: #eee;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid #ddd; }
    .pagination li:last-child {
      border-right: none; }
    .pagination li .current {
      cursor: default;
      color: #333;
      background-color: #fff; }
      .pagination li .current:hover, .pagination li .current:focus {
        color: #333;
        background-color: #fff; }
  .pagination a, .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #333; }
    .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
      background-color: #ccc;
      color: #eee; }

/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }

.wp-prev-next .next-link {
  float: right; }

/* end .wp-prev-next */
/*********************
FOOTER STYLES
*********************/
.footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5%; }
  .footer .footer-widget {
    width: 100%;
    text-align: left; }
    .footer .footer-widget ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .footer .footer-widget .search-form {
      width: 100%; }
  .footer .inner-footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #333;
    position: relative;
    z-index: 2; }
  .footer .footer-credit {
    padding: .25em 1em;
    background-color: #333;
    color: #333;
    float: left;
    width: 100%; }

/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
.privacy {
  margin-left: 1em; }

/*********************
SERVICES STYLES
*********************/
.service-footer {
  margin-bottom: 2.5em; }

.service-section {
  margin-bottom: 2.5em;
  border-bottom: 1px solid #ddd; }

.service-cta, .service-cta-mobile {
  margin-top: 2em;
  padding-bottom: 3.5em; }

.service-thumb img {
  float: left;
  width: 100%;
  margin: 0 1em .5em 0; }

.center-thumb-text {
  text-align: center;
  position: absolute; }

.service-footer-thumb img {
  width: 100%; }

.service-footer-cap {
  text-align: center; }

h3.service-footer-cap {
  margin-top: 0; }

/*********************
SLIDESHOW STYLES
*********************/
.swiper-container {
  width: 100%;
  height: auto;
  margin-bottom: 2em; }

.swiper-button-prev, .swiper-button-next {
  background-image: none !important;
  width: initial !important;
  opacity: .5; }

.swiper-button-prev {
  left: 20px !important; }
  .swiper-button-prev:before {
    font-family: FontAwesome;
    content: "\f137";
    font-size: 200%; }

.swiper-button-next {
  right: 20px !important; }
  .swiper-button-next:before {
    font-family: FontAwesome;
    content: "\f138";
    font-size: 200%; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: none; }

/*********************
BADGES
*********************/
.badge-group {
  width: 100%;
  margin: 0 auto; }

.badge {
  width: 47%;
  margin-right: 3%;
  float: left; }

.badge img {
  width: 100%;
  height: auto; }

.white-text {
  color: #fff; }

.white-header {
  color: #fff;
  font-weight: bold; }

/*********************
REVIEWS STYLES
*********************/
.reviews {
  float: left; }

.quote-l, .quote-r {
  font-size: 200%;
  line-height: 50%;
  position: absolute; }

.quote-l {
  margin-left: -.5em;
  margin-top: .25em; }

.quote-r {
  margin-right: -.5em;
  margin-top: .25em; }

.handwrite {
  margin: 0;
  opacity: .6;
  text-align: right;
  width: 100%; }

/**** REVIEW WIDGET ****/
.review-small {
  margin-bottom: 2em;
  float: left; }
  .review-small .fa-star, .review-small .fa-star-half-o, .review-small .fa-star-o {
    color: #333; }
  .review-small .quote-small {
    font-size: 140%;
    width: 100%; }
  .review-small .stars {
    font-size: 80%; }

/*********************
CTA STYLES
*********************/
.cta-footer {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .cta-footer .cta {
    width: 100%;
    background-color: #333;
    border-radius: 15px;
    margin-bottom: 2em;
    padding: 0 1.5em;
    text-align: left; }
  .cta-footer .cta-title {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #fff;
    font-weight: bold; }
  .cta-footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.post-thumb-caption, .service-thumb-caption, p.wp-caption-text, .wp-caption-text.gallery-caption {
  position: absolute;
  opacity: 0; }

.onehundredcenter {
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto; }

/*********************
SIDEBAR STYLES
*********************/
.round-thumb {
  border-radius: 100px;
  float: left;
  margin-right: 1em;
  width: 33%; }

.related {
  margin: 0 0 1em 0; }

.sidebar-title a {
  text-decoration: none; }

/*********************
WIDGET STYLES
*********************/
.widget-contain ul, .widget-contain .menu-primary-menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left; }
  .widget-contain ul li, .widget-contain .menu-primary-menu-container ul li {
    margin: 0;
    padding: 0; }

.cta-widget {
  display: inline-block;
  width: 100%; }

/*********************
 COMMENTS
*********************/
.comment {
  list-style: none;
  margin-bottom: 2em; }

.comment-metadata {
  display: none; }

.comment-content p {
  margin: 0; }

/******************************
CAPTION AND SHAREBAR STYLES
*******************************/
.fs-drawer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  opacity: 0;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

figure {
  color: #fff; }

/* old styles to add back to figcaption in if needed.
.post-thumb-caption, .service-thumb-caption, p.wp-caption-text, .wp-caption-text.gallery-caption,
*/
figure:hover .fs-drawer {
  opacity: 1; }
  figure:hover .fs-drawer a {
    color: #fff; }
  figure:hover .fs-drawer a:hover {
    color: red; }

figcaption {
  line-height: 1; }

/* old styles to add back to figcaption in if needed.
	.post-thumb:hover .post-thumb-caption, .service-thumb:hover .service-thumb-caption, .wp-caption:hover p.wp-caption-text, .gallery-item:hover .wp-caption-text.gallery-caption, figure:hover figcaption {
	*/
a.social-icon {
  text-decoration: none; }

svg.fs-icons {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0 -.1em 0;
  padding: 0; }

/*--------------------
TABLET & SMALLER LAPTOPS
--------------------*/
@media screen and (min-width: 40em) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  /*********************
HEADER STYLES
*********************/
  .meta-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em; }
  .client-search #client {
    float: left;
    border-radius: 25px; }
    .client-search #client a {
      line-height: 28px;
      font-size: 1em;
      color: #fff;
      text-decoration: none; }
  .client-search #search {
    float: left;
    margin-right: 10px; }
  .logo {
    -webkit-transition: .4s;
    transition: .4s; }
    .logo:hover, .logo:focus {
      -webkit-filter: opacity(80%);
      filter: opacity(80%);
      outline: 0;
      border: none; }
  /*********************
NAVIGATION STYLES
*********************/
  button.menu-toggle {
    display: none; }
  .main-navigation {
    width: 100%;
    clear: both; }
    .main-navigation ul {
      text-align: center;
      list-style: none;
      margin: 0 auto;
      width: inherit;
      position: inherit;
      z-index: inherit;
      height: inherit;
      transition: inherit;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .main-navigation ul ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        top: 1.5em;
        left: -999em;
        z-index: 99999; }
        .main-navigation ul ul ul {
          left: -999em;
          top: 0; }
        .main-navigation ul ul li:hover > ul,
        .main-navigation ul ul li.focus > ul {
          left: 100%; }
        .main-navigation ul ul a {
          width: 200px; }
      .main-navigation ul li:hover > ul,
      .main-navigation ul li.focus > ul {
        left: auto; }
    .main-navigation li {
      float: left;
      position: relative;
      width: inherit; }
    .main-navigation a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      padding: .25em 1em;
      border-top: inherit; }
  /*********************
STRUCTURE STYLES
*********************/
  .content-area {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto; }
  /*********************
SIDEBARS & ASIDES
*********************/
  .sidebar {
    margin-top: 2.2em; }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em; }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0; }
    .widget ul li {
      margin-bottom: 0.75em;
      /* deep nesting */ }
      .widget ul li ul {
        margin-top: 0.75em;
        padding-left: 1em; }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
WIDGET STYLES
*********************/
  .widget-contain {
    width: 14em; }
    .widget-contain ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left; }
      .widget-contain ul li {
        margin: 0;
        padding: 0; }
  /*********************
FOOTER STYLES
*********************/
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #999;
    padding: 0 10%; }
    .footer .footer-widget {
      width: 23%; }
      .footer .footer-widget h3 {
        color: #ddd;
        border-bottom: 1px solid #ddd; }
    .footer .copyright {
      font-size: 13px;
      float: left; }
    .footer .site-credit {
      font-size: 13px;
      float: right; }
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/ }
  /* end .footer-links */
  /*********************
CTA STYLES
*********************/
  .cta-footer {
    display: flex;
    flex-wrap: wrap; }
    .cta-footer .cta {
      width: 32%; }
  /*********************
HOME STYLES
*********************/
  /*********************
SERVICES
*********************/
  .service-cta-mobile {
    display: none; }
  /*********************
ARCHIVE STYLES
*********************/
  .archive-excerpt-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .post-thumb-container {
    margin: 0 1em .5em 0;
    margin-bottom: 0;
    display: block;
    width: 40%; }
  .archive-excerpt-text {
    flex: 1; }
  .service-thumb {
    float: left;
    width: 40%;
    margin: 0 1em .5em 0;
    margin-bottom: 0;
    display: block; }
    .service-thumb img {
      margin-bottom: 0; }
  .service-footer-thumb img:hover {
    filter: brightness(110%); }
  .post-thumb, .service-thumb, .gallery-item {
    position: relative;
    line-height: 0;
    margin: 0; }
  .post-thumb img {
    margin-bottom: 0;
    display: block; }
  .entry-content dd {
    margin: 0; }
  .entry-content img.size-full, .entry-content img.size-large {
    margin-bottom: 0;
    display: block; }
  .entry-content .size-large {
    margin: 0; }
  p.gallery-item-text {
    font-size: 100%; } }

/*--------------------
DESKTOP
--------------------*/
@media screen and (min-width: 64em) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
  .wrap {
    width: 100%; } }

/*--------------------
LARGE VIEWING SIZE
--------------------*/
@media only screen and (min-width: 90.063em) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
  .row {
    max-width: 80rem;
    margin-left: auto; } }

/*--------------------
RETINA (2x RESOLUTION DEVICES)
--------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/ }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }
