/*!
Theme Name: TheBirdTheBear2018
Bitbucket Theme URI: https://bitbucket.org/FlauntYourSite/thebirdthebear2018
Author: William Bay
Author URI: http://flauntyoursite.com
Description: Description
Version: 1.3.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: thebirdthebear2018

TheBirdTheBear2018 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

@import "normalize";
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@import "typography/typography";
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

@import "elements/elements";
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

@import "forms/forms";
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

@import "navigation/navigation";
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

@import "site/site";
/*--------------------------------------------------------------
# Media Query | Breakpoints
--------------------------------------------------------------*/

/*--------------------
BASE (MOBILE) SIZE
--------------------*/

@import "breakpoints/base";
/*--------------------
TABLET & SMALLER LAPTOPS
--------------------*/

@media screen and (min-width: 48em) {
    @import "breakpoints/48em-up";
} // end of media query
/*--------------------
DESKTOP
--------------------*/

@media screen and (min-width: 64em) {
    @import "breakpoints/64em-up";
} // end of media query
/*--------------------
LARGE VIEWING SIZE
--------------------*/

@media only screen and (min-width: 90.063em) {
    @import "breakpoints/90em-up";
} // end of media query
/*--------------------
RETINA (2x RESOLUTION DEVICES)
--------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    @import "breakpoints/2x";
} // end of media query
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

@import "modules/accessibility";
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

@import "modules/alignments";
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

@import "modules/clearings";
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

@import "site/secondary/widgets";
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

@import "modules/infinite-scroll";
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

@import "media/media";