button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	font-family: 'matterhon_regular', 'serif';
	padding: .6em 1em .4em;

	&:hover {
	}

	&:active,
	&:focus {
	}
}
