/*!
Theme Name: TheBirdTheBear2018
Bitbucket Theme URI: https://bitbucket.org/FlauntYourSite/thebirdthebear2018
Author: William Bay
Author URI: http://flauntyoursite.com
Description: Description
Version: 1.3.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: thebirdthebear2018

TheBirdTheBear2018 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden; }

aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #7d7271;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

@font-face {
  font-family: 'matterhon_regular';
  src: url("fonts/matterhon-webfont.woff2") format("woff2"), url("fonts/matterhon-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.title,
.footer-meta,
.site-footer {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase; }

.subtitle,
.question {
  font-family: "matterhon_regular", "serif";
  font-weight: 100;
  font-size: 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

h1 {
  font-size: 5em;
  font-weight: 100;
  text-align: center;
  font-family: "matterhon_regular", "serif"; }

h2 {
  text-align: center; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  font-family: 'matterhon_regular', 'serif';
  padding: .6em 1em .4em; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #9e9492;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #7d7271; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #7d7271; }
  a:visited {
    color: #7d7271; }
  a:hover, a:focus, a:active {
    color: #9e9492; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Media Query | Breakpoints
--------------------------------------------------------------*/
/*--------------------
BASE (MOBILE) SIZE
--------------------*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
HEADER STYLES
*********************/
.site-header {
  display: flex;
  align-items: center;
  position: absolute;
  top: -6em;
  visibility: hidden;
  background-color: rgba(244, 241, 236, 0.9);
  height: 6em;
  width: 100%;
  z-index: 50;
  justify-content: space-between; }

.social {
  display: none; }

.alt-logo {
  position: absolute;
  visibility: hidden;
  left: 12%;
  z-index: 10; }

.ribbon {
  align-self: flex-start;
  position: relative;
  top: 0;
  margin: 0 0 0 5%;
  width: 40%;
  z-index: 100;
  top: -30.5em;
  background-repeat: no-repeat; }

.para-hero {
  width: 100%;
  height: 87vh;
  visibility: hidden; }
  .para-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }

.blog .para-hero,
.error404 .para-hero,
.single .para-hero, .page-id-7472 .para-hero {
  height: 50vh; }

.blog .para-hero img,
.error404 .para-hero img,
.single .para-hero img,
.page-id-7472 .para-hero img {
  height: 125vh; }

.entry-header {
  padding: 0; }

#main {
  min-height: 50em; }

.single #main {
  padding-top: 2.5vw; }

/*********************
MENU STYLES
*********************/
.menu-standard-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  padding-top: 6rem;
  margin-top: -6rem;
  right: 0;
  visibility: hidden; }

.main-navigation {
  width: 60%;
  font-family: "matterhon_regular";
  font-size: 30px; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding-left: 0;
    background-color: rgba(244, 241, 236, 0.9);
    position: absolute;
    height: 100vh;
    overflow: hidden; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    width: 100%;
    right: -100%;
    position: relative;
    border-top: 1px solid #fff; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

.films-menu div,
.photography-menu div,
.process-menu div,
.journal-menu div,
.contact-menu div {
  display: none; }

/* Small menu. */
.menu-toggle {
  display: flex;
  position: relative;
  z-index: 10;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: none; }

.menu-toggle:after {
  content: url("images/hamburger.svg");
  width: 0.9em;
  height: 1.1em; }

.main-navigation.toggled ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

/*********************
STRUCTURE STYLES
*********************/
.content-area {
  width: 100%;
  position: relative;
  background-color: #fff; }

/*********************
ARCHIVE STYLES
*********************/
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
  margin: 1.5em 0; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 5px;
    margin: 0; }
  .pagination li {
    background-color: #eee;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid #ddd; }
    .pagination li:last-child {
      border-right: none; }
    .pagination li .current {
      cursor: default;
      color: #333;
      background-color: #fff; }
      .pagination li .current:hover, .pagination li .current:focus {
        color: #333;
        background-color: #fff; }
  .pagination a,
  .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #333; }
    .pagination a:hover, .pagination a:focus,
    .pagination span:hover,
    .pagination span:focus {
      background-color: #ccc;
      color: #eee; }

/* end .bones_page_navi */
/*********************
FOOTER STYLES
*********************/
.footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5%; }
  .footer .footer-widget {
    width: 100%;
    text-align: left; }
    .footer .footer-widget ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .footer .footer-widget .search-form {
      width: 100%; }
  .footer .inner-footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #333;
    position: relative;
    z-index: 2; }
  .footer .footer-credit {
    padding: 0.25em 1em;
    background-color: #333;
    color: #333;
    float: left;
    width: 100%; }

/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
.privacy {
  margin-left: 1em; }

/*********************
SERVICES STYLES
*********************/
.service-footer {
  margin-bottom: 2.5em; }

.service-section {
  margin-bottom: 2.5em;
  border-bottom: 1px solid #ddd; }

.service-cta,
.service-cta-mobile {
  margin-top: 2em;
  padding-bottom: 3.5em; }

.service-thumb img {
  float: left;
  width: 100%;
  margin: 0 1em 0.5em 0; }

.center-thumb-text {
  text-align: center;
  position: absolute; }

.service-footer-thumb img {
  width: 100%; }

.service-footer-cap {
  text-align: center; }

h3.service-footer-cap {
  margin-top: 0; }

/*********************
SLIDESHOW STYLES
*********************/
.swiper-container {
  width: 100%;
  margin-bottom: 2em; }

img.swiper-slide {
  object-fit: cover; }

.home .swiper-header {
  height: 100vh; }
  .home .swiper-header .swiper-slide {
    height: 100vh; }

.single-services .swiper-header {
  height: 80vh !important; }
  .single-services .swiper-header .swiper-slide {
    height: 80vh; }

.polaroid {
  display: flex;
  position: absolute !important;
  width: 90vw;
  height: auto;
  bottom: 0;
  left: 5vw; }
  .polaroid .arrow-down {
    display: none; }

svg.youtube-play-icon {
  position: absolute;
  width: 88px;
  margin-left: -44px;
  margin-top: -30px;
  left: 50%;
  top: 50%; }

.swiper-button-prev {
  background-image: url(images/arrow-down.svg) !important;
  transform: rotate(90deg); }

.swiper-button-next {
  background-image: url(images/arrow-down.svg) !important;
  transform: rotate(-90deg); }

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  z-index: 100;
  width: 27px;
  transform: translateX(-50%); }

video {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.plyr__video-wrapper {
  height: 100% !important; }

video.plyr {
  object-fit: cover; }

.plyr {
  height: 100% !important;
  min-width: 100% !important; }

.plyr--video {
  height: 100% !important; }

.plyr__control--overlaid {
  background: #e6c5b6 !important; }

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control {
  background: #e6c5b6 !important; }

.plyr__control--overlaid:focus,
.plyr__control--overlaid:hover {
  background: #e6c5b6 !important; }

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus,
.plyr--video .plyr__controls .plyr__control:hover,
.plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
  background: #e6c5b6 !important; }

.plyr__menu__container label.plyr__control input[type=radio]:checked + span {
  background: #e6c5b6 !important; }

.plyr--full-ui input[type=range] {
  color: #e6c5b6 !important; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*********************
BADGES
*********************/
.badge-group {
  width: 100%;
  margin: 0 auto; }

.badge {
  width: 47%;
  margin-right: 3%;
  float: left; }

.badge img {
  width: 100%;
  height: auto; }

.white-text {
  color: #fff; }

.white-header {
  color: #fff;
  font-weight: bold; }

/*********************
REVIEWS STYLES
*********************/
.reviews {
  float: left; }

.quote-l,
.quote-r {
  font-size: 200%;
  line-height: 50%;
  position: absolute; }

.quote-l {
  margin-left: -0.5em;
  margin-top: 0.25em; }

.quote-r {
  margin-right: -0.5em;
  margin-top: 0.25em; }

.handwrite {
  margin: 0;
  opacity: 0.6;
  text-align: right;
  width: 100%; }

/**** REVIEW WIDGET ****/
.review-small {
  margin-bottom: 2em;
  float: left; }
  .review-small .fa-star,
  .review-small .fa-star-half-o,
  .review-small .fa-star-o {
    color: #333; }
  .review-small .quote-small {
    font-size: 140%;
    width: 100%; }
  .review-small .stars {
    font-size: 80%; }

/*********************
CTA STYLES
*********************/
.cta-footer {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .cta-footer .cta {
    width: 100%;
    background-color: #333;
    border-radius: 15px;
    margin-bottom: 2em;
    padding: 0 1.5em;
    text-align: left; }
  .cta-footer .cta-title {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #fff;
    font-weight: bold; }
  .cta-footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.post-thumb-caption,
.service-thumb-caption,
p.wp-caption-text,
.wp-caption-text.gallery-caption {
  position: absolute;
  opacity: 0; }

.onehundredcenter {
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto; }

/*********************
SIDEBAR STYLES
*********************/
.round-thumb {
  border-radius: 100px;
  float: left;
  margin-right: 1em;
  width: 33%; }

.related {
  margin: 0 0 1em 0; }

.sidebar-title a {
  text-decoration: none; }

/*********************
WIDGET STYLES
*********************/
.widget-contain ul,
.widget-contain .menu-primary-menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left; }
  .widget-contain ul li,
  .widget-contain .menu-primary-menu-container ul li {
    margin: 0;
    padding: 0; }

.cta-widget {
  display: inline-block;
  width: 100%; }

/*********************
 COMMENTS
*********************/
.comment {
  list-style: none;
  margin-bottom: 2em; }

.comment-metadata {
  display: none; }

.comment-content p {
  margin: 0; }

/******************************
CAPTION AND SHAREBAR STYLES
*******************************/
.fs-drawer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  opacity: 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out; }

figure {
  color: #fff; }

/* old styles to add back to figcaption in if needed.
.post-thumb-caption, .service-thumb-caption, p.wp-caption-text, .wp-caption-text.gallery-caption,
*/
figure:hover .fs-drawer {
  opacity: 1; }
  figure:hover .fs-drawer a {
    color: #fff; }
  figure:hover .fs-drawer a:hover {
    color: red; }

figcaption {
  line-height: 1; }

/* old styles to add back to figcaption in if needed.
	.post-thumb:hover .post-thumb-caption, .service-thumb:hover .service-thumb-caption, .wp-caption:hover p.wp-caption-text, .gallery-item:hover .wp-caption-text.gallery-caption, figure:hover figcaption {
	*/
a.social-icon {
  text-decoration: none;
  margin: 0 2px; }

svg.fs-icons {
  width: 1.5em; }

/******************************
GRID STYLES
*******************************/
@supports (display: grid) {
  .post-container {
    display: grid;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    grid-template-columns: repeat(2, 49vw);
    grid-auto-rows: 49vw;
    justify-content: center; } }

@supports not (display: grid) {
  .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .thumb {
    width: 48.5vw;
    height: 48.5vw;
    margin-bottom: 1vw; } }

.thumb {
  position: relative; }
  .thumb img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: absolute; }
  .thumb .thumb-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    text-shadow: 0px 0px 15px #000000;
    position: absolute; }
    .thumb .thumb-info h2 {
      text-align: center;
      margin: 0;
      color: #fff;
      font-size: 1.1em; }
    .thumb .thumb-info p {
      text-align: center;
      margin: 0;
      color: #fff;
      font-size: 0.9em; }

/******************************
HOME RAIN STYLES
*******************************/
#horizontal-rain {
  height: 70vh;
  width: 100%;
  position: relative;
  align-content: center; }

.home-rain {
  width: 200px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -15em;
  border-image: url("images/frame.svg") 5 stretch;
  border-style: solid;
  border-width: 15px;
  border-image-outset: 0; }

.hello-friends {
  margin: 0 auto;
  position: relative;
  z-index: 100;
  width: 80vw; }

.row {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 4em auto 10em;
  position: relative; }

.content-block {
  margin: 0 auto;
  background-color: #f4f1ec;
  padding: 1em;
  border-image: url("images/frame.svg") 15 stretch;
  border-style: solid;
  border-width: 25px;
  border-image-outset: 30px 0 40px 30px;
  min-height: 50vh;
  max-width: 90vw; }

.column-reverse {
  flex-direction: column-reverse; }

.animated-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden; }

h1 {
  font-size: 2.5em;
  line-height: 1em; }

#svg-branch-left {
  width: 100px; }

#svg-branch-right {
  width: 100px; }

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 2em 1em; }

.nav-previous a {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.nav-previous a,
.nav-next a {
  display: flex;
  align-items: center;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.nav-previous a:before {
  content: "";
  background-image: url(/wp-content/themes/thebirdthebear2018/images/arrow-left-dark.svg);
  background-size: contain;
  height: 20px;
  width: 80px;
  background-repeat: no-repeat;
  background-position-x: left;
  transition-duration: 0.5s; }

.nav-next a:after {
  content: "";
  background-image: url(/wp-content/themes/thebirdthebear2018/images/arrow-right-dark.svg);
  background-size: contain;
  height: 20px;
  width: 80px;
  background-repeat: no-repeat;
  background-position-x: right;
  transition-duration: 0.5s; }

.nav-previous a:hover:before,
.nav-next a:hover:after {
  filter: opacity(0.5); }

.insta-circle {
  display: flex;
  margin: 2em 0 2em;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .insta-circle svg {
    width: 100px;
    margin: 0 0.5em; }
  .insta-circle a {
    text-decoration: none;
    color: #e6c5b6; }

.insta-row {
  display: flex;
  justify-content: center;
  overflow: hidden; }
  .insta-row img {
    width: 20%;
    height: 100%;
    margin: 1%; }

/******************************
CONTENT BLOCK AREAS
*******************************/
.content-block {
  background-color: #f4f1ec;
  border-image: url("images/frame.svg") 6 stretch;
  border-style: solid;
  border-width: 14px;
  position: relative;
  border-image-outset: 5px;
  align-items: center;
  z-index: 10;
  margin: 0 auto; }
  .content-block .vert-center {
    align-self: center; }

.content-block-back {
  position: absolute;
  height: 100%;
  background-color: #f4f1ec;
  border-image: url("images/frame.svg") 6 stretch;
  border-style: solid;
  border-width: 14px;
  transform: rotateY(180deg);
  z-index: 0; }

#home-one,
#home-three,
#home-four,
#home-five,
#home-six {
  width: 90%; }

.pink-circle {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 2em auto; }
  .pink-circle .circle-sign-animation {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .pink-circle .circle-sign-animation .button-frame {
      fill: #fff;
      width: 75%; }
    .pink-circle .circle-sign-animation .right-arrow-bounce,
    .pink-circle .circle-sign-animation .left-arrow-bounce {
      display: none; }

.home-three-branch {
  position: absolute;
  right: 0;
  bottom: -165px;
  transform: rotate(313deg);
  width: 250px;
  z-index: 0; }

.home-three-pic-branch {
  position: absolute;
  transform: rotate(134deg);
  width: 186px;
  left: 100px;
  top: 41px;
  z-index: -1; }

.home-four-frilly-circle {
  width: 300px;
  position: absolute;
  bottom: -20%;
  z-index: 0;
  left: 36%; }

.home-six-frilly-circle {
  width: 300px;
  position: absolute;
  bottom: -20%;
  z-index: 0;
  left: 36%; }

#curved-arrow {
  display: none; }

.texas {
  width: 80%;
  margin: 0 auto; }

.usa {
  display: none; }

/*********************
FOOTER STYLES
*********************/
.footer-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  border-top: 1px solid #eee;
  margin: 1em auto 0;
  width: 90%; }
  .footer-meta .site-info {
    display: flex;
    align-items: center; }
  .footer-meta .badges {
    display: flex;
    align-items: center; }
    .footer-meta .badges img {
      height: 50px;
      width: auto;
      margin: 0 5px; }

.site-footer {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .site-footer p {
    font-size: 13px;
    margin: 0.5em 0; }

.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/ }

/* end .footer-links */
#faq {
  overflow: hidden; }

dt.question {
  padding-left: 1em; }

.question-x {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -1em;
  margin-top: 0.2em;
  transform: rotate(315deg); }

.qa {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2em; }

/******************************
404 STYLES
*******************************/
.page-content {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin: 0 auto; }
  .page-content .usa {
    width: 90%;
    display: block;
    margin: 0 auto; }

.button-white {
  color: #fff;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none; }

.button-white p {
  text-decoration: none; }

/******************************
SINGLE POST STYLES
*******************************/
article.instagram,
article.post {
  margin: 0 auto;
  background-color: #f4f1ec;
  padding: 1em;
  border-image: url("images/frame.svg") 15 stretch;
  border-style: solid;
  border-width: 15px;
  border-image-outset: 0;
  max-width: 95%;
  margin-top: 1em; }

.single-sub-title {
  width: 100%; }
  .single-sub-title .title {
    width: fit-content;
    margin: 0 auto;
    border-top: 1px solid #7d7271; }

/******************************
ANIMATED ELEMENTS STYLES
*******************************/
.branch-group,
.frilly-circle {
  display: none; }

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
  font-size: 3em !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  color: #fff !important;
  background: #e6c5b6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6c5b6 0%, #e5b6a2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e6c5b6 0%, #e5b6a2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e6c5b6 0%, #e5b6a2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c5b6', endColorstr='#e5b6a2', GradientType=0);
  /* IE6-9 */ }

/*--------------------
TABLET & SMALLER LAPTOPS
--------------------*/
@media screen and (min-width: 48em) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  /*********************
para STYLES
*********************/
  .para-hero {
    width: 100%;
    height: 80vh; }
    .para-hero img {
      width: 100%;
      height: 100%; }
  .entry-header {
    padding: 0 0 2.5em; }
  .site-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: -6em;
    visibility: hidden;
    background-color: rgba(244, 241, 236, 0.9);
    height: 6em;
    width: 100%;
    z-index: 50; }
  .social {
    width: 10%;
    justify-content: space-between;
    display: flex;
    margin: 0 2vh;
    fill: #7d7271; }
    .social a {
      fill: #7d7271; }
    .social a:hover {
      fill: #9e9492; }
  .bird-bear-logo-small {
    display: none; }
  .ribbon {
    margin: 0 2em;
    width: 16%;
    display: inline-table;
    max-width: 9em; }
  .question {
    font-size: 2.5em; }
  h1 {
    font-size: 5em;
    margin: 0 10px; }
  #svg-branch-left {
    width: 150px; }
  #svg-branch-right {
    width: 150px; }
  /*********************
NAVIGATION STYLES
*********************/
  button.menu-toggle {
    display: none; }
  .menu-toggle {
    display: none; }
  .site-main .comment-navigation, .site-main
  .posts-navigation, .site-main
  .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden; }
  .menu-standard-container {
    position: initial;
    width: initial;
    height: initial;
    margin: initial;
    padding: initial;
    font-size: initial;
    text-align: initial;
    padding-top: initial;
    margin-top: initial;
    right: initial;
    visibility: visible; }
  .main-navigation {
    width: 74%; }
    .main-navigation ul {
      position: initial;
      opacity: inherit;
      background-color: unset;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: unset;
      overflow: initial;
      padding: 0 2em; }
      .main-navigation ul li.focus > ul {
        left: auto; }
    .main-navigation li {
      right: inherit;
      margin: 0;
      border: none;
      font-size: 3vw; }
    .main-navigation a {
      color: #7d7271;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      border-top: inherit;
      width: max-content; }
  /*********************
STRUCTURE STYLES
*********************/
  .content-area {
    width: 100%; }
  /******************************
SWIPER SLIDER STYLES
*******************************/
  .swiper-header {
    visibility: hidden; }
    .swiper-header .home {
      height: 100vh; }
    .swiper-header .services {
      height: 80vh; }
  .polaroid {
    position: absolute !important;
    max-height: 90%;
    width: 50% !important;
    left: initial; }
    .polaroid img {
      height: 100% !important; }
    .polaroid .swiper-button-prev,
    .polaroid .swiper-button-next,
    .polaroid .arrow-down {
      display: none; }
  .swiper-wrapper {
    height: 100%; }
  .polaroid-right {
    left: 0%;
    margin: 0; }
  .polaroid-left {
    right: 0%;
    margin: 0; }
  .swiper-slide {
    position: relative; }
  .swiper-button-prev,
  .swiper-button-next {
    width: 150px !important;
    background-size: auto !important; }
    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      opacity: .5; }
  .swiper-button-prev {
    background-image: url(images/arrow-left-white.svg) !important;
    transform: none; }
  .swiper-button-next {
    background-image: url(images/arrow-right-white.svg) !important;
    transform: none; }
  .post-nav-arrows {
    visibility: hidden;
    position: fixed;
    top: 50%;
    z-index: 100;
    width: 100%; }
  svg.youtube-play-icon {
    transition-duration: 0.3s; }
  svg.youtube-play-icon:hover {
    opacity: 0.75; }
  .vp-controls-wrapper {
    width: 80%;
    display: block;
    bottom: 5%;
    position: absolute; }
  /*********************
SIDEBARS & ASIDES
*********************/
  .sidebar {
    margin-top: 2.2em; }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em; }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0; }
    .widget ul li {
      margin-bottom: 0.75em;
      /* deep nesting */ }
      .widget ul li ul {
        margin-top: 0.75em;
        padding-left: 1em; }
  /*********************
WIDGET STYLES
*********************/
  .widget-contain {
    width: 14em; }
    .widget-contain ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left; }
      .widget-contain ul li {
        margin: 0;
        padding: 0; }
  /*********************
CTA STYLES
*********************/
  .cta-footer {
    display: flex;
    flex-wrap: wrap; }
    .cta-footer .cta {
      width: 32%; }
  /*********************
HOME STYLES
*********************/
  .texas {
    width: 28%; }
  /*********************
SINGLE STYLES
*********************/
  article.instagram,
  article.post {
    width: 60%;
    max-width: 1280px; }
  /*********************
SERVICES
*********************/
  .service-cta-mobile {
    display: none; }
  /*********************
ARCHIVE STYLES
*********************/
  .archive-excerpt-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .post-thumb-container {
    margin: 0 1em 0.5em 0;
    margin-bottom: 0;
    display: block;
    width: 40%; }
  .archive-excerpt-text {
    flex: 1; }
  .service-thumb {
    float: left;
    width: 40%;
    margin: 0 1em 0.5em 0;
    margin-bottom: 0;
    display: block; }
    .service-thumb img {
      margin-bottom: 0; }
  .service-footer-thumb img:hover {
    filter: brightness(110%); }
  .post-thumb,
  .service-thumb,
  .gallery-item {
    position: relative;
    line-height: 0;
    margin: 0; }
  .post-thumb img {
    margin-bottom: 0;
    display: block; }
  .entry-content dd {
    margin: 0; }
  .entry-content img.size-full,
  .entry-content img.size-large {
    margin-bottom: 0;
    display: block; }
  .entry-content .size-large {
    margin: 0; }
  p.gallery-item-text {
    font-size: 100%; }
  .divider {
    height: 10em;
    background-color: #e6c5b6; }
  /******************************
GRID STYLES
*******************************/
  .post-container {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-columns: repeat(4, 19vw);
    grid-auto-rows: 19vw;
    justify-content: center; }
  .home-rain {
    width: 400px;
    border-image: url("images/frame.svg") 5 stretch;
    border-style: solid;
    border-width: 15px;
    border-image-outset: 0;
    left: -30em; }
  .hello-friends {
    width: 40vw; }
  .three-branch-svg {
    width: 200px;
    position: absolute;
    top: 150px;
    z-index: -1; }
  .bird-bear-logo {
    width: 300px;
    margin: 0 auto; }
  .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; }
  .services .row {
    max-width: 1000px;
    align-items: center; }
  .section-wrap {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .content-block {
    border-image: url("images/frame.svg") 15 stretch;
    border-style: solid;
    border-width: 25px;
    position: relative;
    z-index: 10;
    margin: 0 auto; }
  .content-block-back {
    display: none; }
  .column-reverse {
    flex-direction: unset; }
  .services-left {
    width: 50%;
    margin-left: 0;
    min-height: 450px;
    margin-bottom: 0; }
  .services-right {
    width: 50%;
    margin-right: 0;
    min-height: 450px;
    margin-bottom: 0; }
  .polaroid-right,
  .polaroid-left {
    width: 40%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    bottom: inherit; }
  #home-one,
  #faq {
    width: 60%; }
  #home-three,
  #home-five {
    width: 80%;
    display: flex;
    padding: 0;
    justify-content: space-between; }
    #home-three .content-block-image,
    #home-five .content-block-image {
      width: 47.5%; }
    #home-three .text,
    #home-five .text {
      width: 47.5%; }
    #home-three .branch-group,
    #home-five .branch-group {
      position: absolute;
      width: 300px;
      z-index: 1000; }
  #home-four,
  #home-six {
    width: 50%;
    margin: 0;
    padding: 0; }
  .pink-circle-container {
    display: block;
    width: 30%;
    margin-right: 0; }
  .pink-circle {
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: relative;
    margin: 0; }
    .pink-circle .circle-sign-animation {
      display: flex;
      width: 90%;
      justify-content: space-between; }
      .pink-circle .circle-sign-animation .button-frame {
        width: 100%; }
      .pink-circle .circle-sign-animation .right-arrow-bounce,
      .pink-circle .circle-sign-animation .left-arrow-bounce {
        width: 20%;
        position: relative;
        display: block; }
  #curved-arrow {
    display: inherit;
    position: absolute;
    width: 230px;
    bottom: -45%;
    left: 20%; }
  .thumb {
    position: relative; }
    .thumb .blog-thumb-hover {
      opacity: 0;
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(244, 241, 236, 0.9);
      border-image: url("images/frame.svg") 5 stretch;
      border-style: solid;
      border-width: 15px;
      border-image-outset: 12px;
      transition: opacity 0.32s linear; }
      .thumb .blog-thumb-hover .thumb-info {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        text-shadow: none;
        position: relative; }
        .thumb .blog-thumb-hover .thumb-info h2 {
          text-align: center;
          margin: 0;
          color: inherit;
          font-size: 1.5em; }
        .thumb .blog-thumb-hover .thumb-info p {
          text-align: center;
          margin: 0;
          color: inherit;
          font-size: 1em; }
  .thumb:hover .blog-thumb-hover {
    opacity: 1; }
  .insta-circle {
    margin: 6em 0 2em; }
  .insta-row {
    display: flex;
    justify-content: center; }
    .insta-row img {
      width: 15%; }
  /*********************
FOOTER STYLES
*********************/
  .footer-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto 0; }
  .site-footer {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 0 8%;
    flex-direction: row; }
    .site-footer p {
      font-size: 13px;
      margin: 1em 0; }
  .usa {
    width: 600px;
    display: block;
    margin: 0 auto; }
  /******************************
404 STYLES
*******************************/
  .page-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto; }
    .page-content .usa {
      width: 600px;
      display: block;
      margin: 0 auto; }
    .page-content .four-content {
      width: 40%; }
  /******************************
MODAL STYLES
*******************************/
  .modal-container {
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; }
  .post-modal {
    visibility: hidden;
    position: relative;
    z-index: 1000;
    width: 70% !important;
    background-color: #f4f1ec;
    display: block;
    border-image: url(images/frame.svg) 25 stretch;
    border-style: solid;
    border-width: 25px;
    border-image-outset: 20px 18px 20px 16px;
    margin: 10% auto; }
    .post-modal article.instagram,
    .post-modal article.post {
      width: inherit; }
    .post-modal .modal-content .hentry,
    .post-modal .content-block .hentry,
    .post-modal article .hentry {
      background: inherit;
      padding: inherit;
      border: none;
      max-width: inherit;
      margin: 0; }
    .post-modal .insta-circle {
      margin: 0; }
  .top-bar {
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    right: -50px;
    justify-content: flex-end; }
  .modal-close {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/x-hover.svg");
    transition-duration: 1s; }
    .modal-close:hover {
      background-image: url("images/x.svg"); }
  .filter {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9); }
  .modal-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em; }
    .modal-header .animated-title {
      visibility: inherit;
      height: 4em; }
  .modal-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden; }
    .modal-logo .bird-bear-logo-small {
      display: block; }
  .instagram .entry-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em; }
    .instagram .entry-content img {
      width: 67%;
      border-right: 1px solid #ddd;
      padding-right: 3%;
      height: 100%; }
    .instagram .entry-content .insta-content {
      width: 30%; }
  /***********************
ANIMATED ELEMENTS
************************/
  .branch-group,
  .frilly-circle {
    display: block; }
  .frilly-circle {
    width: 250px;
    position: absolute;
    bottom: -133px;
    z-index: 10;
    right: -92px; }
  /***********************
BLOG STYLES
************************/
  .loadmore {
    background-image: url(/wp-content/themes/thebirdthebear2018/images/x-hover.svg);
    width: 50px;
    height: 50px;
    transform: rotate(316deg);
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    margin-top: 2em; } }

/*--------------------
DESKTOP
--------------------*/
@media screen and (min-width: 64em) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
  .main-navigation ul {
    display: block;
    background-color: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    border: none;
    font-size: 2.5vw;
    display: flex;
    justify-content: space-between;
    width: auto; }
  .main-navigation a {
    color: #7d7271;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-top: inherit;
    width: max-content; }
  .films-menu div, .photography-menu div, .process-menu div, .journal-menu div, .contact-menu div {
    display: block;
    position: absolute;
    left: -5vw;
    fill: #564545; }
  .photography-menu div {
    width: 3.5vw;
    top: -.75vw; }
  .films-menu div {
    left: -4.5vw;
    width: 4vw;
    top: -0.5vw; }
  .process-menu div {
    left: -4vw;
    width: 3.5vw;
    top: 0; }
  .journal-menu div {
    left: -3.75vw;
    width: 3vw;
    top: 0; }
  .contact-menu div {
    width: 4.5vw;
    top: 0; } }

/*--------------------
LARGE VIEWING SIZE
--------------------*/
@media only screen and (min-width: 90.063em) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
  .ribbon {
    max-width: 10em; }
  .main-navigation ul {
    justify-content: flex-end; }
  .main-navigation li {
    margin-left: 6vw;
    font-size: 2em; }
  .photography-menu div {
    top: -0.5vw;
    width: 1.5em;
    left: -1.8em; }
  .films-menu div {
    top: 0;
    width: 1.5em;
    left: -1.8em; }
  .process-menu div {
    top: 0;
    width: 1.5em;
    left: -1.8em; }
  .journal-menu div {
    top: .1em;
    width: 1.1em;
    left: -3vw; }
  .contact-menu div {
    top: .5vw;
    width: 1.5em;
    left: -1.8em; } }

/*--------------------
RETINA (2x RESOLUTION DEVICES)
--------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/ }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #7d7271;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }
