body, html, #login{
    background-color: #e6c5b6;
    overflow: hidden;
}

.login h1 a{
    background-image: url( '../images/bird-bear-logo-small.svg' );
    width: 110px!important;
    background-size:cover;
}

.login form{
    border-image: url( '../images/frame.svg' ) 6 stretch;
    border-style: solid;
    border-width: 14px;
}