/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
para STYLES
*********************/

.para-hero {
    width: 100%;
    height: 80vh;
    img {
        width: 100%;
        height: 100%;
    }
}

.entry-header {
    padding: 0 0 2.5em;
}

.site-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: -6em;
    visibility: hidden;
    background-color: rgba(244, 241, 236, 0.9);
    height: 6em;
    width: 100%;
    z-index: 50;
}

.social {
    width: 10%;
    justify-content: space-between;
    display: flex;
    margin: 0 2vh;
    fill: $color__link;
    a {
        fill: $color__link;
    }
    a:hover {
        fill: $color__link-hover;
    }
}

.bird-bear-logo-small {
    display: none;
}

.ribbon {
    margin: 0 2em;
    width: 16%;
    display: inline-table;
    max-width: 9em;
}

.question {
    font-size: 2.5em;
}

h1 {
    font-size: 5em;
    margin: 0 10px;
}

#svg-branch-left {
    width: 150px;
}

#svg-branch-right {
    width: 150px;
}

/*********************
NAVIGATION STYLES
*********************/

button.menu-toggle {
    display: none;
}

.menu-toggle {
    display: none;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
}

.menu-standard-container {
    position: initial;
    width: initial;
    height: initial;
    margin: initial;
    padding: initial;
    font-size: initial;
    text-align: initial;
    padding-top: initial;
    margin-top: initial;
    right: initial;
    visibility: visible;
}

.main-navigation {
    width: 74%;
    ul {
        position: initial;
        opacity: inherit;
        background-color: unset;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: unset;
        overflow: initial;
        padding: 0 2em;
        li.focus>ul {
            left: auto;
        }
    }
    li {
        right: inherit;
        margin: 0;
        border: none;
        font-size: 3vw;
        &:hover>a,
        &.focus>a {}
    }
    a {
        color: #7d7271;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-top: inherit;
        width: max-content;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a,
    .current-menu-ancestor>a {}
}

/*********************
STRUCTURE STYLES
*********************/

.content-area {
    width: 100%;
}

/******************************
SWIPER SLIDER STYLES
*******************************/

// Hide swiper container on load. GSAP fades it in.
.swiper-container {}

.swiper-header {
    visibility: hidden;
    .home {
        height: 100vh;
    }
    .services {
        height: 80vh;
    }
}

.polaroid {
    position: absolute !important;
    max-height: 90%;
    width: 50% !important;
    left: initial;
    img {
        height: 100% !important;
    }
    .swiper-button-prev,
    .swiper-button-next,
    .arrow-down {
        display: none;
    }
}

.swiper-wrapper {
    height: 100%;
}

.polaroid-right {
    left: 0%;
    margin: 0;
}

.polaroid-left {
    right: 0%;
    margin: 0;
}

.swiper-slide {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    width: 150px !important;
    background-size: auto !important;
    &:hover {
        opacity: .5;
    }
}

.swiper-button-prev {
    background-image: url(images/arrow-left-white.svg) !important;
    transform: none;
}

.swiper-button-next {
    background-image: url(images/arrow-right-white.svg) !important;
    transform: none;
}

.post-nav-arrows {
    // Set to visibility:hidden for Javascript
    visibility: hidden;
    position: fixed;
    top: 50%;
    z-index: 100;
    width: 100%;
}

svg.youtube-play-icon {
    transition-duration: 0.3s;
}

svg.youtube-play-icon:hover {
    opacity: 0.75;
}

.vp-controls-wrapper {
    width: 80%;
    display: block;
    bottom: 5%;
    position: absolute;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
    margin-top: 2.2em;
}

.widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
}

.widget {
    padding: 0 10px;
    margin: 2.2em 0;
    ul {
        li {
            margin-bottom: 0.75em;
            &:first-child {}
            &:last-child {}
            a {}
            /* deep nesting */
            ul {
                margin-top: 0.75em;
                padding-left: 1em;
            }
        }
    }
}

/*********************
WIDGET STYLES
*********************/

.widget-contain {
    width: 14em;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        li {
            margin: 0;
            padding: 0;
        }
    }
}

/*********************
CTA STYLES
*********************/

.cta-footer {
    display: flex;
    flex-wrap: wrap;
    .cta {
        width: 32%;
    }
}

/*********************
HOME STYLES
*********************/

.texas {
    width: 28%;
}

/*********************
SINGLE STYLES
*********************/

article.instagram,
article.post {
    width: 60%;
    max-width: 1280px;
}

/*********************
SERVICES
*********************/

.service-cta-mobile {
    display: none;
}

/*********************
ARCHIVE STYLES
*********************/

.archive-excerpt-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-thumb-container {
    margin: 0 1em 0.5em 0;
    margin-bottom: 0;
    display: block;
    width: 40%;
}

.archive-excerpt-text {
    flex: 1;
}

.service-thumb {
    float: left;
    width: 40%;
    margin: 0 1em 0.5em 0;
    margin-bottom: 0;
    display: block;
    img {
        margin-bottom: 0;
    }
}

.service-footer-thumb img:hover {
    filter: brightness(110%);
}

.post-thumb,
.service-thumb,
.gallery-item {
    position: relative;
    line-height: 0;
    margin: 0;
}

.post-thumb img {
    margin-bottom: 0;
    display: block;
}

.entry-content dd {
    margin: 0;
}

.entry-content img.size-full,
.entry-content img.size-large {
    margin-bottom: 0;
    display: block;
}

.entry-content .size-large {
    margin: 0;
}

p.gallery-item-text {
    font-size: 100%;
}

.divider {
    height: 10em;
    background-color: $color__accent;
}

/******************************
GRID STYLES
*******************************/

.post-container {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-columns: repeat(4, 19vw);
    grid-auto-rows: 19vw;
    justify-content: center;
}

.home-rain {
    width: 400px;
    border-image: url("images/frame.svg") 5 stretch;
    border-style: solid;
    border-width: 15px;
    border-image-outset: 0;
    left: -30em;
}

.hello-friends {
    width: 40vw;
}

.three-branch-svg {
    width: 200px;
    position: absolute;
    top: 150px;
    z-index: -1;
}

.bird-bear-logo {
    width: 300px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.services .row {
    max-width: 1000px;
    align-items: center;
}

.section-wrap {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-block {
    border-image: url("images/frame.svg") 15 stretch;
    border-style: solid;
    border-width: 25px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.content-block-back {
    display: none;
}

.column-reverse {
    flex-direction: unset;
}

.services-left {
    width: 50%;
    margin-left: 0;
    min-height: 450px;
    margin-bottom: 0;
}

.services-right {
    width: 50%;
    margin-right: 0;
    min-height: 450px;
    margin-bottom: 0;
}

.polaroid-right,
.polaroid-left {
    width: 40%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    bottom: inherit;
}

.polaroid-right {}

.polaroid-left {}

#home-one,
#faq {
    width: 60%;
}

#home-three,
#home-five {
    width: 80%;
    display: flex;
    padding: 0;
    justify-content: space-between;
    .content-block-image {
        width: 47.5%;
    }
    .text {
        width: 47.5%;
    }
    .branch-group {
        position: absolute;
        width: 300px;
        z-index: 1000;
    }
}

#home-four,
#home-six {
    width: 50%;
    margin: 0;
    padding: 0;
}

.pink-circle-container {
    display: block;
    width: 30%;
    margin-right: 0;
}

.pink-circle {
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: relative;
    margin: 0;
    .circle-sign-animation {
        display: flex;
        width: 90%;
        justify-content: space-between;
        .button-frame {
            width: 100%;
        }
        .right-arrow-bounce,
        .left-arrow-bounce {
            width: 20%;
            position: relative;
            display: block;
        }
    }
}

#curved-arrow {
    display: inherit;
    position: absolute;
    width: 230px;
    bottom: -45%;
    left: 20%;
}

.thumb {
    position: relative;
    .blog-thumb-hover {
        opacity: 0;
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 241, 236, 0.9);
        border-image: url("images/frame.svg") 5 stretch;
        border-style: solid;
        border-width: 15px;
        border-image-outset: 12px;
        transition: opacity 0.32s linear;
        .thumb-info {
            display: grid;
            justify-content: center;
            align-content: center;
            width: 100%;
            height: 100%;
            text-shadow: none;
            position: relative;
            h2 {
                text-align: center;
                margin: 0;
                color: inherit;
                font-size: 1.5em;
            }
            p {
                text-align: center;
                margin: 0;
                color: inherit;
                font-size: 1em;
            }
        }
    }
}

.thumb:hover .blog-thumb-hover {
    opacity: 1;
}

.insta-circle {
    margin: 6em 0 2em;
}

.insta-row {
    display: flex;
    justify-content: center;
    img {
        width: 15%;
    }
}

/*********************
FOOTER STYLES
*********************/

.footer-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto 0;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 0 8%;
    flex-direction: row;
    p {
        font-size: 13px;
        margin: 1em 0;
    }
}

.usa {
    width: 600px;
    display: block;
    margin: 0 auto;
}

/******************************
404 STYLES
*******************************/

.page-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    .usa {
        width: 600px;
        display: block;
        margin: 0 auto;
    }
    .four-content {
        width: 40%;
    }
}

/******************************
MODAL STYLES
*******************************/

.modal-container {
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.post-modal {
    visibility: hidden;
    position: relative;
    z-index: 1000;
    width: 70% !important;
    background-color: #f4f1ec;
    display: block;
    border-image: url(images/frame.svg) 25 stretch;
    border-style: solid;
    border-width: 25px;
    border-image-outset: 20px 18px 20px 16px;
    margin: 10% auto;
    article.instagram,
    article.post {
        width: inherit;
    }
    .modal-content .hentry,
    .content-block .hentry,
    article .hentry {
        background: inherit;
        padding: inherit;
        border: none;
        max-width: inherit;
        margin: 0;
    }
    .insta-circle {
        margin: 0;
    }
}

.top-bar {
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    right: -50px;
    justify-content: flex-end;
}

.modal-close {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/x-hover.svg");
    transition-duration: 1s;
    &:hover {
        background-image: url("images/x.svg");
    }
}

.filter {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    .animated-title {
        visibility: inherit;
        height: 4em;
    }
}

.modal-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    .bird-bear-logo-small {
        display: block;
    }
}

.instagram {
    .entry-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3em;
        img {
            width: 67%;
            border-right: 1px solid #ddd;
            padding-right: 3%;
            height: 100%;
        }
        .insta-content {
            width: 30%;
        }
    }
}

/***********************
ANIMATED ELEMENTS
************************/

.branch-group,
.frilly-circle {
    display: block;
}

.frilly-circle {
    width: 250px;
    position: absolute;
    bottom: -133px;
    z-index: 10;
    right: -92px;
}

/***********************
BLOG STYLES
************************/

.loadmore {
    background-image: url(/wp-content/themes/thebirdthebear2018/images/x-hover.svg);
    width: 50px;
    height: 50px;
    transform: rotate(316deg);
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    margin-top: 2em;
}