/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



.main-navigation {

	ul {
		display: block;
		background-color: unset;
		display: flex;
        flex-direction: row;
        justify-content: space-around;

		li.focus > ul {
			left: auto;
		}
	}

	li {
		border:none;
        font-size: 2.5vw;
        display: flex;
        justify-content: space-between;
        width: auto;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		color: #7d7271;
		display: inline-block;
		text-decoration: none;
		text-align: center;
		border-top: inherit;
		width:max-content;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


.films-menu div, .photography-menu div, .process-menu div, .journal-menu div, .contact-menu div{
    display: block;
	position: absolute;
	left: -5vw;
	fill:#564545; 
}

.photography-menu div{
	width: 3.5vw;
    top: -.75vw;
}

.films-menu div{
    left:-4.5vw;
    width: 4vw;
    top: -0.5vw; 
}

.process-menu div{
    left:-4vw;
    width: 3.5vw;
    top:0; 
}

.journal-menu div{
    left:-3.75vw;
    width: 3vw;
    top:0; 
}

.contact-menu div{
    width: 4.5vw;
    top:0; 
}