/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.ribbon{
	max-width: 10em;
}

.main-navigation ul{
    justify-content:flex-end;
}

.main-navigation li {
    margin-left: 6vw;
    font-size:2em;
}

.photography-menu div{
    top: -0.5vw;
	width: 1.5em;
    left: -1.8em;
}

.films-menu div{
    top: 0; 
    width: 1.5em;
    left: -1.8em;
}

.process-menu div{
    top:0; 
    width: 1.5em;
    left: -1.8em;
}

.journal-menu div {
    top: .1em;
    width: 1.1em;
    left:-3vw;
}

.contact-menu div{
    top:.5vw; 
    width: 1.5em;
    left: -1.8em;
}
