/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
HEADER STYLES
*********************/

.site-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: -6em;
    visibility: hidden;
    background-color: rgba(244, 241, 236, 0.9);
    height: 6em;
    width: 100%;
    z-index: 50;
    justify-content: space-between;
}

.social {
    display: none;
}

.alt-logo {
    position: absolute;
    visibility: hidden;
    left: 12%;
    z-index: 10;
}

.ribbon {
    align-self: flex-start;
    position: relative;
    top: 0;
    margin: 0 0 0 5%;
    width: 40%;
    z-index: 100;
    top: -30.5em;
    background-repeat: no-repeat;
}

.para-hero {
    width: 100%;
    height: 87vh;
    visibility: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.blog .para-hero,
.error404 .para-hero,
.single .para-hero, .page-id-7472 .para-hero {
    height: 50vh; 
}

.blog .para-hero img,
.error404 .para-hero img,
.single .para-hero img, 
.page-id-7472 .para-hero img {
    height: 125vh;
}

.entry-header {
    padding: 0;
}

#main{
    min-height: 50em;
}
.single #main {
    padding-top: 2.5vw;
}


/*********************
MENU STYLES
*********************/

.menu-standard-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    padding-top: 6rem;
    margin-top: -6rem;
    right: 0;
    visibility: hidden;
}

.main-navigation {
    width: 60%;
    font-family: "matterhon_regular";
    font-size: 30px;
    ul {
        list-style: none;
        margin: 0;
        width: 100%;
        padding-left: 0;
        background-color: rgba(244, 241, 236, 0.9);
        position: absolute;
        height: 100vh;
        overflow: hidden;
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        width: 100%;
        right: -100%;
        position: relative;
        border-top: 1px solid #fff;
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a,
    .current-menu-ancestor>a {}
}

.films-menu div,
.photography-menu div,
.process-menu div,
.journal-menu div,
.contact-menu div {
    display: none;
}

/* Small menu. */

.menu-toggle {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.menu-toggle:after {
    content: url("images/hamburger.svg");
    width: 0.9em;
    height: 1.1em;
}

.main-navigation.toggled ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*********************
STRUCTURE STYLES
*********************/

.content-area {
    width: 100%;
    position: relative;
    background-color: #fff;
}

/*********************
ARCHIVE STYLES
*********************/

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
    margin: 1.5em 0;
}

.pagination {
    text-align: center;
    ul {
        display: inline-block;
        white-space: nowrap;
        padding: 0;
        clear: both;
        border-radius: 5px;
        margin: 0;
    }
    li {
        background-color: #eee;
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden;
        border-right: 1px solid #ddd;
        &:last-child {
            border-right: none;
        }
        .current {
            cursor: default;
            color: #333;
            background-color: #fff;
            &:hover,
            &:focus {
                color: #333;
                background-color: #fff;
            }
        }
    }
    a,
    span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: normal;
        padding: 0.75em;
        min-width: 1em;
        display: block;
        color: #333;
        &:hover,
        &:focus {
            background-color: #ccc;
            color: #eee;
        }
    }
}

/* end .bones_page_navi */

/*********************
FOOTER STYLES
*********************/

.footer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2.5%;
    .footer-widget {
        width: 100%;
        text-align: left;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .search-form {
            width: 100%;
        }
    }
    .inner-footer {
        padding-left: 2.5%;
        padding-right: 2.5%;
        background-color: #333;
        position: relative;
        z-index: 2;
    }
    .footer-credit {
        padding: 0.25em 1em;
        background-color: #333;
        color: #333;
        float: left;
        width: 100%;
    }
}

/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/

.footer-links {
    ul {
        li {}
    }
}

/* end .footer-links */

.copyright {}

.privacy {
    margin-left: 1em;
}

/*********************
SERVICES STYLES
*********************/

.service-footer {
    margin-bottom: 2.5em;
}

.service-section {
    margin-bottom: 2.5em;
    border-bottom: 1px solid #ddd;
}

.service-cta,
.service-cta-mobile {
    margin-top: 2em;
    padding-bottom: 3.5em;
}

.service-thumb img {
    float: left;
    width: 100%;
    margin: 0 1em 0.5em 0;
}

.center-thumb-text {
    text-align: center;
    position: absolute;
}

.service-footer-thumb img {
    width: 100%;
}

.service-footer-cap {
    text-align: center;
}

h3.service-footer-cap {
    margin-top: 0;
}

/*********************
SLIDESHOW STYLES
*********************/

.swiper-container {
    width: 100%;
    margin-bottom: 2em;
}

img.swiper-slide {
    object-fit: cover;
}

.home .swiper-header {
    height: 100vh;
    .swiper-slide {
        height: 100vh;
    }
}

.single-services .swiper-header {
    height: 80vh !important;
    .swiper-slide {
        height: 80vh;
    }
}

.polaroid {
    display: flex;
    position: absolute !important;
    width: 90vw;
    height: auto;
    bottom: 0;
    left: 5vw;
    .arrow-down {
        display: none;
    }
}

svg.youtube-play-icon {
    position: absolute;
    width: 88px;
    margin-left: -44px;
    margin-top: -30px;
    left: 50%;
    top: 50%;
}

.swiper-button-prev {
    background-image: url(images/arrow-down.svg) !important;
    transform: rotate(90deg)
}

.swiper-button-next {
    background-image: url(images/arrow-down.svg) !important;
    transform: rotate(-90deg)
}

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    z-index: 100;
    width: 27px;
    transform: translateX(-50%);
}

video {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.plyr__video-wrapper {
    height: 100% !important;
}

video.plyr {
    object-fit: cover;
}

.plyr {
    height: 100% !important;
    min-width: 100% !important;
}

.plyr--video {
    height: 100% !important;
}

.plyr__control--overlaid {
    background: #e6c5b6 !important;
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control {
    background: #e6c5b6 !important;
}

.plyr__control--overlaid:focus,
.plyr__control--overlaid:hover {
    background: #e6c5b6 !important;
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus,
.plyr--video .plyr__controls .plyr__control:hover,
.plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: #e6c5b6 !important;
}

.plyr__menu__container label.plyr__control input[type=radio]:checked+span {
    background: #e6c5b6 !important;
}

.plyr--full-ui input[type=range] {
    color: #e6c5b6 !important;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*********************
BADGES
*********************/

.badge-group {
    width: 100%;
    margin: 0 auto;
}

.badge {
    width: 47%;
    margin-right: 3%;
    float: left;
}

.badge img {
    width: 100%;
    height: auto;
}

.white-text {
    color: #fff;
}

.white-header {
    color: #fff;
    font-weight: bold;
}

/*********************
REVIEWS STYLES
*********************/

.reviews {
    float: left;
}

.quote-l,
.quote-r {
    font-size: 200%;
    line-height: 50%;
    position: absolute;
}

.quote-l {
    margin-left: -0.5em;
    margin-top: 0.25em;
}

.quote-r {
    margin-right: -0.5em;
    margin-top: 0.25em;
}

.handwrite {
    margin: 0;
    opacity: 0.6;
    text-align: right;
    width: 100%;
}

/**** REVIEW WIDGET ****/

.review-small {
    margin-bottom: 2em;
    float: left;
    .fa-star,
    .fa-star-half-o,
    .fa-star-o {
        color: #333;
    }
    .quote-small {
        font-size: 140%;
        width: 100%;
    }
    .stars {
        font-size: 80%;
    }
}

/*********************
CTA STYLES
*********************/

.cta-footer {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cta {
        width: 100%;
        background-color: #333;
        border-radius: 15px;
        margin-bottom: 2em;
        padding: 0 1.5em;
        text-align: left;
    }
    .cta-title {
        color: #fff;
        margin: 0;
        border-bottom: 1px solid #fff;
        font-weight: bold;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.post-thumb-caption,
.service-thumb-caption,
p.wp-caption-text,
.wp-caption-text.gallery-caption {
    position: absolute;
    opacity: 0;
}

.onehundredcenter {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/*********************
SIDEBAR STYLES
*********************/

.round-thumb {
    border-radius: 100px;
    float: left;
    margin-right: 1em;
    width: 33%;
}

.related {
    margin: 0 0 1em 0;
}

.sidebar-title a {
    text-decoration: none;
}

/*********************
WIDGET STYLES
*********************/

.widget-contain,
.widget-contain .menu-primary-menu-container {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        li {
            margin: 0;
            padding: 0;
        }
    }
}

.cta-widget {
    display: inline-block;
    width: 100%;
}

/*********************
 COMMENTS
*********************/

.comment {
    list-style: none;
    margin-bottom: 2em;
}

.comment-metadata {
    display: none;
}

.comment-content p {
    margin: 0;
}

/******************************
CAPTION AND SHAREBAR STYLES
*******************************/

.fs-drawer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

figure {
    color: #fff;
}

/* old styles to add back to figcaption in if needed.
.post-thumb-caption, .service-thumb-caption, p.wp-caption-text, .wp-caption-text.gallery-caption,
*/

figure:hover .fs-drawer {
    opacity: 1;
    a {
        color: #fff;
    }
    a:hover {
        color: red;
    }
}

figcaption {
    line-height: 1;
}

/* old styles to add back to figcaption in if needed.
	.post-thumb:hover .post-thumb-caption, .service-thumb:hover .service-thumb-caption, .wp-caption:hover p.wp-caption-text, .gallery-item:hover .wp-caption-text.gallery-caption, figure:hover figcaption {
	*/

.fs-sharebar {}

a.social-icon {
    text-decoration: none;
    margin: 0 2px;
}

svg.fs-icons {
    width: 1.5em;
}

/******************************
GRID STYLES
*******************************/

@supports (display: grid) {
    .post-container {
        display: grid;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-columns: repeat(2, 49vw);
        grid-auto-rows: 49vw;
        justify-content: center;
    }
}

@supports not (display: grid) {
    .post-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .thumb {
        width: 48.5vw;
        height: 48.5vw;
        margin-bottom: 1vw;
    }
}

.thumb {
    position: relative;
    img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        position: absolute;
    }
    .thumb-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        text-shadow: 0px 0px 15px #000000;
        position: absolute;
        h2 {
            text-align: center;
            margin: 0;
            color: #fff;
            font-size: 1.1em;
        }
        p {
            text-align: center;
            margin: 0;
            color: #fff;
            font-size: 0.9em;
        }
    }
}

/******************************
HOME RAIN STYLES
*******************************/

#horizontal-rain {
    height: 70vh;
    width: 100%;
    position: relative;
    align-content: center;
}

.home-rain {
    width: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -15em;
    border-image: url("images/frame.svg") 5 stretch;
    border-style: solid;
    border-width: 15px;
    border-image-outset: 0;
}

.hello-friends {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    width: 80vw;
}

.row {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: 4em auto 10em;
    position: relative;
}

.content-block {
    margin: 0 auto;
    background-color: #f4f1ec;
    padding: 1em;
    border-image: url("images/frame.svg") 15 stretch;
    border-style: solid;
    border-width: 25px;
    border-image-outset: 30px 0 40px 30px;
    min-height: 50vh;
    max-width: 90vw;
}

.column-reverse {
    flex-direction: column-reverse;
}

.animated-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

#svg-branch-left {
    width: 100px;
}

#svg-branch-right {
    width: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
}

.nav-previous a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-previous a,
.nav-next a {
    display: flex;
    align-items: center;
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-previous a:before {
    content: "";
    background-image: url(/wp-content/themes/thebirdthebear2018/images/arrow-left-dark.svg);
    background-size: contain;
    height: 20px;
    width: 80px;
    background-repeat: no-repeat;
    background-position-x: left;
    transition-duration: 0.5s;
}

.nav-next a:after {
    content: "";
    background-image: url(/wp-content/themes/thebirdthebear2018/images/arrow-right-dark.svg);
    background-size: contain;
    height: 20px;
    width: 80px;
    background-repeat: no-repeat;
    background-position-x: right;
    transition-duration: 0.5s;
}

.nav-previous a:hover:before,
.nav-next a:hover:after {
    filter: opacity(0.5);
}

.insta-circle {
    display: flex;
    margin: 2em 0 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    svg {
        width: 100px;
        margin: 0 0.5em;
    }
    a {
        text-decoration: none;
        color: $color__accent;
    }
}

.insta-row {
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
        width: 20%;
        height: 100%;
        margin: 1%;
    }
}

/******************************
CONTENT BLOCK AREAS
*******************************/

.content-block {
    background-color: #f4f1ec;
    border-image: url("images/frame.svg") 6 stretch;
    border-style: solid;
    border-width: 14px;
    position: relative;
    border-image-outset: 5px;
    align-items: center;
    z-index: 10;
    margin: 0 auto;
    .vert-center {
        align-self: center;
    }
}

.content-block-back {
    position: absolute;
    height: 100%;
    background-color: #f4f1ec;
    border-image: url("images/frame.svg") 6 stretch;
    border-style: solid;
    border-width: 14px;
    transform: rotateY(180deg);
    z-index: 0;
}

#home-one,
#home-three,
#home-four,
#home-five,
#home-six {
    width: 90%;
}

.pink-circle {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 2em auto;
    .circle-sign-animation {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .button-frame {
            fill: #fff;
            width: 75%;
        }
        .right-arrow-bounce,
        .left-arrow-bounce {
            display: none;
        }
    }
}

.home-three-branch {
    position: absolute;
    right: 0;
    bottom: -165px;
    transform: rotate(313deg);
    width: 250px;
    z-index: 0;
}

.home-three-pic-branch {
    position: absolute;
    transform: rotate(134deg);
    width: 186px;
    left: 100px;
    top: 41px;
    z-index: -1;
}

.home-four-frilly-circle {
    width: 300px;
    position: absolute;
    bottom: -20%;
    z-index: 0;
    left: 36%;
}

.home-six-frilly-circle {
    width: 300px;
    position: absolute;
    bottom: -20%;
    z-index: 0;
    left: 36%;
}

#curved-arrow {
    display: none;
}

.texas {
    width: 80%;
    margin: 0 auto;
}

.usa {
    display: none;
}

/*********************
FOOTER STYLES
*********************/

.footer-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-top: 1px solid #eee;
    margin: 1em auto 0;
    width: 90%;
    .site-info {
        display: flex;
        align-items: center;
    }
    .badges {
        display: flex;
        align-items: center;
        img {
            height: 50px;
            width: auto;
            margin: 0 5px;
        }
    }
}

.site-footer {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
    flex-direction: column;
    text-align: center;
    p {
        font-size: 13px;
        margin: 0.5em 0;
    }
}

.footer-links {
    ul {
        li {
            a {
                &:hover {}
            }
            /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
            ul {}
        }
    }
}

/* end .footer-links */

#faq {
    overflow: hidden;
}

dt.question {
    padding-left: 1em;
}

.question-x {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -1em;
    margin-top: 0.2em;
    transform: rotate(315deg);
}

.qa {
    margin-bottom: 3em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2em;
}

/******************************
404 STYLES
*******************************/

.page-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    .usa {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

.button-white {
    color: #fff;
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.button-white p {
    text-decoration: none;
}

/******************************
SINGLE POST STYLES
*******************************/

article.instagram,
article.post {
    margin: 0 auto;
    background-color: #f4f1ec;
    padding: 1em;
    border-image: url("images/frame.svg") 15 stretch;
    border-style: solid;
    border-width: 15px;
    border-image-outset: 0;
    max-width: 95%;
    margin-top: 1em;
}

.single-sub-title {
    width: 100%;
    .title {
        width: fit-content;
        margin: 0 auto;
        border-top: 1px solid $color__link;
    }
}

/******************************
ANIMATED ELEMENTS STYLES
*******************************/

.branch-group,
.frilly-circle {
    display: none;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
    font-size: 3em !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    color: #fff !important;
    background: #e6c5b6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e6c5b6 0%, #e5b6a2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e6c5b6 0%, #e5b6a2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e6c5b6 0%, #e5b6a2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c5b6', endColorstr='#e5b6a2', GradientType=0);
    /* IE6-9 */
}