.title,
.footer-meta,
.site-footer {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
}

.subtitle,
.question {
  font-family: "matterhon_regular", "serif";
  font-weight: 100;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-size: 5em;
  font-weight: 100;
  text-align: center;
  font-family: "matterhon_regular", "serif";
}

h2 {
  text-align: center;
}
