body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@font-face {
    font-family: 'matterhon_regular';
    src: url('fonts/matterhon-webfont.woff2') format('woff2'),
         url('fonts/matterhon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import "headings";

@import "copy";
