$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__accent: #e6c5b6;

$color__text-screen: #7d7271;
$color__text-input: #9e9492;
$color__text-input-focus: #7d7271;
$color__link: #7d7271;
$color__link-visited: #7d7271;
$color__link-hover: #9e9492;
$color__text-main: #7d7271;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
